<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="content-locker-wrapper">
    <h3 class="title">
        Nội dung hiện đang tạm khoá
    </h3>
    <p>
        Để mở khoá, bạn hãy nhập thông tin theo mẫu dưới đây
    </p>

    <form class="form-group">
        <input type="text" class="form-control" placeholder="Họ tên">
        <input type="text" class="form-control" placeholder="Email">
        <input type="text" class="form-control" placeholder="Số điện thoại">
        <button type="submit" class="btn btn-primary unlock">Mở khoá nội dung miễn phí</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<style>
    .content-locker-wrapper {
        margin: 50px auto;
        max-width: 50%;
        text-align: center;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 1px 9px rgba(0, 0, 0, 0.28);
    }

    .content-locker-wrapper .form-control {
        margin-bottom: 20px;
    }

    .content-locker-wrapper .unlock {
        width: 100%;
        background-color: #3a89ec;
    }
</style>