@font-face {
    font-family: "mono";
    src: url(./fonts/mono.woff);
}

@font-face {
    font-family: "mono-italic";
    src: url(./fonts/mono-italic.woff);
}

h1 {
    text-align: center;
}

#cal {
    width: 500px;
    max-width: 100%;
    height: 700px;
    max-height: 100%;
    background-color: #f3dba5;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 18px;
    position: relative;
    border-radius: 10px;
    border-bottom: 10px inset #f1d596;
    border-top: 50px outset #f1d596;
}

#signed {
    position: absolute;
    top: -55px;
    left: 20px;
    color: #b29967;
    font-family: "Orbitron", sans-serif;
    font-size: 2em;
}

#inputs {
    display: flex;
    background-color: #000;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    height: 21.5%;
}

#sub-input {
    border: 0;
    background-color: #61766b;
    color: #91dec1;
    font-family: "mono-italic";
    font-size: 40px;
    max-width: 600px;
    width: 90%;
    padding: 10px 2% 10px;
    border-top: 5px solid #999;
    border-left: 5px solid #999;
    border-right: 5px solid #999;
    border-radius: 15px 15px 0 0;
    text-align: right;
}

#main-input {
    border: 0;
    background-color: #487f6a;
    color: #91dec1;
    font-family: "mono";
    font-size: 50px;
    max-width: 600px;
    width: 90%;
    padding: 20px 2% 20px;
    border-bottom: 5px solid #999;
    border-left: 5px solid #999;
    border-right: 5px solid #999;
    border-end-end-radius: 10px;
    border-radius: 0 0 15px 15px;
    text-align: right;
    outline: none;
}

#special {
    height: 15%;
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 3%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

#special button {
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    background-color: #fdf8e9;
    border-radius: 10px;
    border-top: 6px outset #fefdf9;
    border-bottom: 6px outset #fffcf4;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

#numbers {
    height: 55%;
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 1%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

#numbers button {
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    background-color: #fdf8e9;
    border-radius: 10px;
    border-top: 6px outset #fefdf9;
    border-bottom: 6px outset #fffcf4;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.red {
    background-color: #ee5a6c !important;
    color: #fef7ff !important;
    border-bottom: 6px outset #f16870 !important;
    border-top: 6px outset #f66b78 !important;
}