@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

@font-face {
    font-family: "mono";
    src: url(./fonts/mono.woff);
}

@font-face {
    font-family: "mono-italic";
    src: url(./fonts/mono-italic.woff);
}

* {
    transition: all 0.2s ease;
}

body {
background: linear-gradient(122deg, rgba(64, 205, 183, 1) 0%, rgba(64, 205, 183, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(54, 178, 159, 1) 50%, rgba(54, 178, 159, 1) 100%);
height: 100vh;
}

h1 {
    text-align: center;
}

#cal {
    position: relative;
    width: 500px;
    max-width: 100%;
    height: 700px;
    background-color: #f3dba5;
    margin: 2% auto;
    padding: 5px 0px 18px 0;
    border-radius: 10px;
    border-bottom: 10px inset #f1d596;
    border-top: 50px outset #f5e1b4;
}

#signed {
    position: absolute;
    top: -55px;
    left: 20px;
    color: #b29967;
    font-family: "Orbitron", sans-serif;
    font-size: 2em;
}

.fa-history {
    position: absolute;
    top: -35px;
    left: 457px;
    color: #c3c2c4;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5em;
}

#inputs {
    display: flex;
    background-color: #000;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    height: 19%;
}

#sub-input {
    border: 0;
    background-color: #61766b;
    color: #95a89e;
    font-family: "mono-italic";
    font-size: 30px;
    max-width: 600px;
    width: 90%;
    padding: 10px 2% 10px;
    border-top: 5px solid #999;
    border-left: 5px solid #999;
    border-right: 5px solid #999;
    border-radius: 15px 15px 0 0;
    text-align: right;
}

#main-input {
    border: 0;
    background-color: #487f6a;
    color: #91dec1;
    font-family: "mono";
    font-size: 40px;
    max-width: 600px;
    width: 90%;
    padding: 20px 2% 20px;
    border-bottom: 5px solid #999;
    border-left: 5px solid #999;
    border-right: 5px solid #999;
    border-end-end-radius: 10px;
    border-radius: 0 0 15px 15px;
    text-align: right;
    outline: none;
}

#special {
    height: 15%;
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 3%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

#special button {
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    background-color: #fdf8e9;
    border-radius: 10px;
    border-top: 6px outset #fefdf9;
    border-bottom: 6px outset #fffcf4;
    border-left: 0;
    border-right: 0;
    text-align: center;
    outline: none;
}

#special button:hover {
    background-color: #666;
    border-top: 6px outset #6e6e6e;
    border-bottom: 6px outset #5e5e5e;
    color: white;
}

#numbers {
    height: 55%;
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 1%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

#numbers button {
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    background-color: #fdf8e9;
    border-radius: 10px;
    border-top: 6px outset #fefdf9;
    border-bottom: 6px outset #fffcf4;
    border-left: 0;
    border-right: 0;
    text-align: center;
    outline: none;
}

#numbers button:hover {
    background-color: #666;
    border-top: 6px outset #6e6e6e;
    border-bottom: 6px outset #5e5e5e;
    color: white;
}

.red {
    background-color: #ee5a6c !important;
    color: #fef7ff !important;
    border-bottom: 6px outset #f16870 !important;
    border-top: 6px outset #f66b78 !important;
}

.red:hover {
    background-color: #a26951 !important;
    border-top: 6px outset #b17b64 !important;
    border-bottom: 6px outset #8b5a46 !important;
}

#change-theme {
    grid-column: 1/4;
}