@import "./root.scss";

main {
    margin-top: $fifty-pixel;
}

.breadcrumb {
    margin-bottom: $twenty-pixel;
    background-color: $text-white;
    display: block;
    padding-top: $zero-pixel;
    padding-bottom: $zero-pixel;
}

.previous-page {
    color: $main-color;
}

.arrow {
    margin: $zero-pixel $five-pixel;
}

.pagination-wrapper {
    @include flex-center-center;
    margin-top: $fifty-pixel;
}

@media (max-width: $small-devices-width) {
    main {
        margin-top: $twenty-pixel;
    }
}

@media (max-width: $medium-devices-width) {
    main {
        margin-top: $twenty-pixel;
    }
}