@import "./root.scss";
@import "./except-home-page.scss";

.product-content-wrapper {
    margin-bottom: $fifty-pixel;

    & .brand {
        color: $product-text-grey;
        margin-bottom: $fifteen-pixel;
    }

    & .name {
        font-weight: 500;
        font-size: $forty-pixel;
        line-height: $forty-seven-pixel;
        margin-bottom: $fifteen-pixel;
    }

    & .style-code {

    }
}