#main-nav-bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
	justify-items: center;
	padding: 15px;
	margin: 0;
}

#main-nav-bar li {
	list-style-type: none;
	padding: 15px;
}

#main-nav-bar a {
	text-decoration: none;
	color: #646466;
}