@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FFA700;
    background-image: url(../img/1.png);
    background-repeat: space;
}

h1 {
    text-align: center;
    color: #FFECCC;
    font-size: 3em;
}

#container {
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
}

#row1, #row2 {
    display: flex;
    justify-content: space-around;
}

#row2 {
    margin-top: 150px;
}

.item {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    outline: 3px solid white;
}

.item img {
    display: block;
    transition: 0.3s ease;
    width: 100%;
}

.image {
    overflow: hidden;
}

.title {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FFECCC;
    font-size: 1.5em;
    text-decoration: none;
    overflow: hidden;
}

.title span {
    z-index: 5;
    transition: 0.3s ease;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #005248;
}

.item:hover .title span {
    top: 65%;
}

.item:hover .image img {
    transform: translateY(-10px);
}

@media only screen and (max-width: 1000px) {
    #row1, #row2 {
    display: flex;
    flex-direction: column;
    }

    #container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    }
}