	* {
		font-family: Arial;
		max-width: 1000px;
	}

	.header-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 70%;
	}

	h1 {
		text-align: center;
	}

	#item1 {
		width: 500px;
	}

	.item-image {
		width: 100%;
		height: auto;
		border: 5px solid pink;
		padding: 10px;
	}

	.item-name {
		display: block;
		text-decoration: none;
		color: black;
		font-size: 12px;
		text-align: center;
	}

	.item-name:link {
		color: black;
	}

	.item-name:hover {
		color: #da480a;
		font-weight: bold;
	}

	.item-info {
		width: 30%;
		display: block;
		box-sizing: border-box;
	}

	.item-details {
		font-weight: bold;
	}

	.item-currency::after {
		content: " VND";
	}