extends ./common

block customizeCss
  // Components CSS
  link(rel='stylesheet' type='text/css' href='./css/components/header.css')
  // Common CSS
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  link(rel='stylesheet' type='text/css' href='./css/except-home-page.css')
  link(rel='stylesheet' type='text/css' href='./css/used-in-js.css')
  link(rel='stylesheet' type='text/css' href='./css/account.css')
  link(rel='stylesheet' type='text/css' href='./css/bid-details.css')

block title
  title Thông tin đấu giá

block header
  include ./template-parts/header

block mainContent
  .container
    .row
      .col-lg-3.left-sidebar-wrapper
        include ./template-parts/left-sidebar-account
      .col-lg-9.main-content-wrapper
        .main-content
          .header
            a.go-back-previous-page(href='./buying-selling-products.html')
              i.fas.fa-chevron-left
              |  Trở lại
            .order-status-wrapper
              div Mã đơn
                span.order-number #123abc
              .status Hết hạn trong: 18 ngày
          .break-line
          .item
            .product-info-wrapper
              .thumbnails
                img.img-fluid(src='./image/product/yeezy-700-waverunner-solid-grey.jpg' alt='')
              .product-info
                a.name(href='product-details.html')
                  | Adidas Yeezy Boost 700 Wave Runner Solid Grey
                .size
                  | 8US | 41VN | 26CM
            .price.asks-price
              | 9.550.000 &#x20AB;
            button.btn.btn-primary.red-btn.cancel-btn Huỷ đấu giá
          .item-small
            .order-number-wrapper Mã đơn
              a.order-number(href='#')
                | #123abc
            .item-info-wrapper
              .product-info-wrapper
                .product-info
                  a.name(href='product-details.html')
                    | Adidas Yeezy Boost 700 Wave Runner Solid Grey
                  .size
                    | 8US | 41VN | 26CM
                  .status Hết hạn trong: 18 ngày
              .price.asks-price
                | 9.550.000 &#x20AB;
              button.btn.btn-primary.red-btn.cancel-btn Huỷ đấu giá

block footer
  include ./template-parts/footer

block customizeScript
  script(src="./script/except-home-page.js")