extends ./common

block customizeCss
  // Components CSS
  link(rel='stylesheet' type='text/css' href='./css/components/header.css')
  link(rel='stylesheet' type='text/css' href='./css/components/buying/product-info.css')
  link(rel='stylesheet' type='text/css' href='./css/components/buying/buying-section.css')
  // Common CSS
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  link(rel='stylesheet' type='text/css' href='./css/except-home-page.css')
  link(rel='stylesheet' type='text/css' href='./css/buying.css')

block title
  title Mua sản phẩm

block header
  include ./template-parts/header

block mainContent
  .main-wrapper.container
    .row
      // Product Info Section
      section.product-info-wrapper.col-lg-7
        .product-info
          .product-name
            | Adidas Yeezy Boost 700 Wave Runner Solid Grey
          .price-info
            span.first-row Giá đặt mua cao nhất:
              span.bid-price-info 9.310.000 &#x20AB; 
            span.line |
            span.second-line  Giá đặt bán thấp nhất: 
              span.ask-price-info 9.550.000 &#x20AB;
          .size-info-wrapper
            | Size: 
            span.size-info
              | 8US | 41VN | 26CM
          a.product-image(href='./product-details.html')
            img.img-fluid(src='./image/product-details-image/1.jpg' alt='image-1')
      // Buying Function Section
      section.buying.col-lg-5
        // Adress Section
        .address-info-wrapper.childs
          .header
            .title Địa chỉ nhận hàng
            button.btn.btn-primary.change.red-btn Thay đổi
          .info-wrapper.radio-wrapper
            input#address-info.address-radio-btn(type='radio' name='address-info' checked='')
            label(for='address-info')
              .radio-dot
              div
                .name-phone
                  b Cody
                  |  | 036530xxxx
                .address 48 Tố Hữu, Lê Văn Lương kéo dài, Từ Liêm, Hà Nội
        // Pricing Section
        .pricing.childs
          .size-btn
            button.btn.btn-primary.size.trans-btn
              span.size-text Size
              span.size-details 8US | 41VN | 26CM
              i.fas.fa-chevron-down.dropdown-arrow
          .bid-buy-btn
            button.bid-btn.btn.btn-primary.green-btn Đặt giá mua
            button.buy-btn.btn.btn-primary.trans-btn
              | Mua ngay
          input.price-input.form-control(type='text' placeholder='Đặt giá mua ...')
          .sub-price.price-include
            .text Giá sản phẩm
            .sub-price-showing
              | 9.550.000 &#x20AB;
          .shipping-price.price-include
            .text
              | Phí vận chuyển
            .sub-price-showing
              | 50.000 &#x20AB;
          .coupon.price-include
            .text
              | Mã giảm giá
            input.form-control(type='text' placeholder='Nhập mã giảm giá ...')
          .total-price.price-include
            .text
              | Tổng thanh toán
            .total-price-showing
              | 9.600.000 &#x20AB;
        // Payment Methods Section
        .payment-methods.childs
          .title
            | Phương thức thanh toán
          .cod-wrapper.radio-wrapper
            input#cod.cod-radio-btn(type='radio' name='payment-methods' checked='')
            label(for='cod')
              .radio-dot
              .cod
                | Thanh toán khi nhận hàng
          .visa-master-wrapper.radio-wrapper
            input#visa-master.cod-radio-btn(type='radio' name='payment-methods')
            label(for='visa-master')
              .radio-dot
              .visa-master
                | Thanh toán bằng thẻ quốc tế Visa, Master, JCB
        a(href='./congrats.html')
          button.btn.btn-primary.confirm-btn.red-btn
            | Đặt mua

block footer
  include ./template-parts/footer

block customizeScript
  script(src="./script/except-home-page.js")