<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    // Bootstrap CSS
    link(rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css")

    // Slick CSS
    link(rel="stylesheet" type="text/css" href="./vendor/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="./vendor/slick/slick-theme.css")

    // Font Awesome CSS
    link(rel="stylesheet" type="text/css" href="./vendor/fontawesome/css/all.css")

    // Pretty Checkbox CSS
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css")
    
    // Login Modal
    link(rel="stylesheet" type="text/css" href="./css/components/login-modal.css")

    block customizeCss
    
    block title
    link(rel="shortcut icon", href="./image/favicon.ico", type="image/x-icon")
  body
    block header

    main
      block mainContent

      // Modals
      include ./template-parts/login-modal

    block footer

    script(type="text/javascript" src="./vendor/jquery/jquery-3.4.1.min.js")
    script(type="text/javascript" src="./vendor/bootstrap/js/bootstrap.min.js")

    // Main Js
    script(type="text/javascript" src="./script/main.js")
    script(type="text/javascript" src="./script/account.js")
    script(src="./data.json")
    block customizeScript