extends ./common

block customizeCss
  // Components CSS
  link(rel='stylesheet' type='text/css' href='./css/index.css')
  link(rel='stylesheet' type='text/css' href='./css/components/header.css')
  // Common CSS
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  link(rel='stylesheet' type='text/css' href='./css/except-home-page.css')
  link(rel='stylesheet' type='text/css' href='./css/faqs.css')

block title
  title Các câu hỏi thường gặp

block header
  - var pageTitle = 'Các câu hỏi thường gặp'
  include ./template-parts/header-w-banner

block mainContent
  .breadcrumb.container
    a.previous-page(href='./index.html') Trang ch&#x1EE7;
    i.fas.fa-chevron-right.arrow
    span.current-page C&aacute;c c&acirc;u h&#x1ECF;i th&#x1B0;&#x1EDD;ng g&#x1EB7;p
  section.main-content.container
    .about-obo
      h2.h2
        | OBO Stadium l&agrave; g&igrave;?
      p.content OBO Stadium là website thương mại điện tử đầu tiên và duy nhất tại Việt Nam chuyên biệt về giày dép nói chung và sneakers nói riêng. OBO Stadium ra đời với hoài bão tạo nên một bước đột phá lớn trong lĩnh vực thương mại điện tử chuyên biệt về giày dép ở Việt Nam. OBO Stadium đặt mục tiêu trở thành hệ thống bán lẻ số một tại Việt Nam, tiến đến vươn ra thị trường khu vực và thế giới. Sứ mệnh của OBO Stadium là mang thương mại điện tử đến với mọi đối tượng khách hàng, từ những tầng lớp bình dân nhất, ít quan tâm đến công nghệ nhất. Từ đó, OBO Stadium sẽ từng bước xây dựng văn hoá tiêu dùng tiện lợi và văn minh cho người Việt Nam.
      p.content OBO Stadium cũng tạo ra cơ hội cho các nhà kinh doanh bán lẻ và các Nhà sản xuất nội địa mở rộng thị trường, có được một môi trường phát triển lành mạnh, hiệu quả. Cũng trên hệ thống này, OBO Stadium mang đến cho người tiêu dùng những sản phẩm, dịch vụ chất lượng cao, thúc đẩy và sự phát triển của lĩnh vực thương mại điện tử và ngành bán lẻ tại Việt Nam. Đây là một phần quan trọng tạo ra động lực mạnh mẽ để phát triển nền kinh tế, từ đó góp phần vào sự thịnh vượng của đất nước.
    .collapse-content
      #accordionExample.accordion
        .card
          #headingOne.card-header
            h2.mb-0
              button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                | Qu&#x1EA3;n l&yacute; t&agrave;i kho&#x1EA3;n
                i.fas.fa-chevron-down
          #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionExample')
            .card-body 
              .question 1. Làm thế nào để đăng ký tài khoản trên OBO Stadium?
              .answer Quý khách bấm nút "Đăng ký" ở góc phải trên cùng màn hình, điền đủ các thông tin theo yêu cầu.
            .card-body 
              .question 2. Vì sao tôi không nhận được email kích hoạt tài khoản?
              .answer Nếu Quý khách không tìm thấy email kích hoạt trong mục Inbox, vui lòng kiểm tra trong mục Thư rác/Spam/Email.
            .card-body 
              .question 3. Làm thế nào để thay đổi thông tin trong tài khoản mua hàng của tôi?
              .answer Để thay đổi thông tin trong tài khoản mua hàng tại OBO Stadium, Quý khách vui lòng đăng nhập vào tài khoản của mình. Click vào nút tam giác cạnh tên tài khoản của bạn, chọn » Quản lý tài khoản » click chọn Thông tin cơ bản » click chỉnh sửa để chỉnh sửa thông tin cần thiết..
        .card
          #headingTwo.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                | Mua h&agrave;ng tr&ecirc;n OBO Stadium
                i.fas.fa-chevron-down
          #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
            .card-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
              | squid. 3 wolf
              | moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              | laborum eiusmod.
              | Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
              | assumenda
              | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              | nesciunt sapiente ea
              | proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
              | farm-to-table, raw denim
              | aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable
              | VHS.
        .card
          #headingThree.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                | B&aacute;n h&agrave;ng tr&ecirc;n OBO Stadium
                i.fas.fa-chevron-down
          #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
            .card-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
              | squid. 3 wolf
              | moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              | laborum eiusmod.
              | Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
              | assumenda
              | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              | nesciunt sapiente ea
              | proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
              | farm-to-table, raw denim
              | aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable
              | VHS.
        .card
          #headingFour.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                | Giao nh&#x1EAD;n h&agrave;ng
                i.fas.fa-chevron-down
          #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordionExample')
            .card-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
              | squid. 3 wolf
              | moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              | laborum eiusmod.
              | Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
              | assumenda
              | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              | nesciunt sapiente ea
              | proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
              | farm-to-table, raw denim
              | aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable
              | VHS.
        .card
          #headingFive.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
                | Ph&#x1B0;&#x1A1;ng th&#x1EE9;c thanh to&aacute;n
                i.fas.fa-chevron-down
          #collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordionExample')
            .card-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
              | squid. 3 wolf
              | moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              | laborum eiusmod.
              | Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
              | assumenda
              | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              | nesciunt sapiente ea
              | proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
              | farm-to-table, raw denim
              | aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable
              | VHS.

block footer
  include ./template-parts/footer

block customizeScript
  script(src="./script/except-home-page.js")