extends ./common

block customizeCss

  // Components CSS
  link(rel="stylesheet" type="text/css" href="./css/components/header.css")
  link(rel="stylesheet" type="text/css" href="./css/components/products.css")
  link(rel="stylesheet" type="text/css" href="./css/components/lastest-news.css")

  // Common CSS
  link(rel="stylesheet" type="text/css" href="./css/main.css")
  link(rel="stylesheet" type="text/css" href="./css/except-home-page.css")
  link(rel="stylesheet" type="text/css" href="./css/used-in-js.css")
  link(rel="stylesheet" type="text/css" href="./css/post.css")
  
block title
  title Pack “Logo Sketch” với branding mộc mạc trên Air Max 97 và Air Max Plus

block header
  include ./template-parts/header

block mainContent
  .breadcrumb.container
    a.previous-page(href='./index.html') Trang ch&#x1EE7;
    i.fas.fa-chevron-right.arrow
    span.current-page
      | Pack &ldquo;Logo Sketch&rdquo; v&#x1EDB;i branding m&#x1ED9;c m&#x1EA1;c tr&ecirc;n Air Max 97 v&agrave;
      | Air Max Plus
  .main-content-wrapper.container
    h1.h1.title
      | Pack &ldquo;Logo Sketch&rdquo; v&#x1EDB;i branding m&#x1ED9;c m&#x1EA1;c tr&ecirc;n Air Max 97 v&agrave; Air Max Plus
    .author-and-date
      | By 
      span.author Cody
      |  &middot; 27/07/2019
    .main-content
      p
        | N&oacute;i v&#x1EC1; kh&#x1EA3; n&abreve;ng bi&#x1EBF;n branding th&agrave;nh m&#x1ED9;t aesthestic, th&igrave; Nike kh&ocirc;ng ch&#x1EC9; l&agrave; m&#x1ED9;t tay ch&#x1A1;i s&#x1EEF;ng s&ograve; v&#x1EC1; s&#x1ED1;
        | l&#x1B0;&#x1EE3;ng m&agrave; c&ograve;n c&#x1EA3;
        | ch&#x1EA5;t l&#x1B0;&#x1EE3;ng. V&#x1EDB;i nh&#x1EEF;ng pack gi&agrave;y &dstrok;&#x1EA7;y s&aacute;ng t&#x1EA1;o, motif branding ch&#x1B0;a bao gi&#x1EDD; tr&#x1EDF; n&ecirc;n nh&agrave;m ch&aacute;n d&#x1B0;&#x1EDB;i b&agrave;n
        | tay t&agrave;i hoa c&#x1EE7;a &dstrok;&#x1ED9;i
        | ng&utilde; thi&#x1EBF;t k&#x1EBF; nh&agrave; Swoosh.
      p
        | Trong pack n&agrave;y, ch&uacute;ng ta s&#x1EBD; &dstrok;&#x1EBF;n v&#x1EDB;i m&#x1EAB;u branding ki&#x1EC3;u ph&aacute;c th&#x1EA3;o, &dstrok;&#x1EA7;y m&#x1ED9;c m&#x1EA1;c v&agrave; &ldquo;blend&rdquo; ho&agrave;n h&#x1EA3;o
        | c&ugrave;ng t&#x1ED5;ng th&#x1EC3; ph&#x1ED1;i m&agrave;u.
      figure.img-post-wrapper
        img.img-fluid.img-post(src='./image/post/post-1.jpg' alt='')
        figcaption Nike Air Max 97 &ldquo;Logo Sketch&rdquo;
      p
        | &ldquo;Logo Sketch&rdquo; &dstrok;&#x1B0;&#x1EE3;c &dstrok;&#x1B0;a l&ecirc;n hai d&ograve;ng g&#x1ED3;m Air Max 97 v&agrave; Air Max Plus. C&#x1EA3; 2 &dstrok;&#x1EC1;u mang c&ugrave;ng h&#x1A1;i h&#x1B0;&#x1EDB;ng m&agrave;u
        | s&#x1EAF;c &dstrok;&#x1A1;n gi&#x1EA3;n, nh&#x1EB9;
        | nh&agrave;ng v&#x1EDB;i Tr&#x1EAF;ng ch&#x1EE7; &dstrok;&#x1EA1;o, k&#x1EBF;t h&#x1EE3;p c&ugrave;ng nh&#x1EEF;ng &dstrok;i&#x1EC3;m nh&#x1EA5;n c&#x1EE7;a &Dstrok;&#x1ECF; v&agrave; &Dstrok;en.
      p
        | V&#x1EC1; thi&#x1EBF;t k&#x1EBF; logo, &dstrok;&acirc;y l&agrave; m&#x1EAB;u branding &dstrok;&#x1EA7;u ti&ecirc;n c&#x1EE7;a Nike v&#x1EDB;i c&#x1EA5;u tr&uacute;c g&#x1ED3;m text &ldquo;nike&rdquo; vi&#x1EBF;t th&#x1B0;&#x1EDD;ng
        | to&agrave;n b&#x1ED9;, l&#x1ED3;ng gh&eacute;p b&ecirc;n
        | d&#x1B0;&#x1EDB;i Swoosh. V&agrave; &dstrok;&#x1EC3; th&ecirc;m ph&#x1EA7;n r&otilde; r&agrave;ng cho motif &ldquo;sketch&rdquo; &ndash; ph&aacute;c th&#x1EA3;o, &dstrok;&#x1ED9;i ng&utilde; thi&#x1EBF;t k&#x1EBF; kh&eacute;o l&eacute;o th&ecirc;m
        | v&agrave;o &dstrok;&oacute; nh&#x1EEF;ng &dstrok;&#x1B0;&#x1EDD;ng
        | k&#x1EBB; (mang m&#x1EE5;c &dstrok;&iacute;ch canh gi&oacute;ng); &dstrok;i c&ugrave;ng ki&#x1EC3;u ph&#x1ED1;i ch&#x1EC9; c&oacute; outline.
      figure.img-post-wrapper
        img.img-fluid.img-post(src='./image/post/post-2.jpg' alt='')
        figcaption Nike Air Max Plus &ldquo;Logo Sketch&rdquo;
      p
        | M&#x1EB7;c d&ugrave; thi&#x1EBF;t k&#x1EBF; c&#x1EE7;a c&#x1EA3; 2 d&ograve;ng gi&agrave;y &dstrok;&#x1EC1;u h&#x1EA7;m h&#x1ED1; h&#x1A1;n b&igrave;nh th&#x1B0;&#x1EDD;ng, nh&#x1B0;ng Air Max 97 l&#x1EA1;i tr&ocirc;ng &ldquo;thanh
        | l&#x1ECB;ch&rdquo; h&#x1A1;n khi &dstrok;&#x1EB7;t c&ugrave;ng
        | Air Max Plus. C&oacute; l&#x1EBD; v&igrave; v&#x1EAD;y m&agrave; t&#x1ED5;ng th&#x1EC3; ph&#x1ED1;i m&agrave;u c&#x1EE7;a b&#x1EA3;n 97 l&#x1EA1;i nh&#x1EB9; nh&agrave;ng h&#x1A1;n h&#x1EB3;n, m&#x1EB7;c d&ugrave; d&#x1EC1;u chung
        | m&#x1ED9;t l&#x1ED1;i ph&#x1ED1;i.
      p
        | C&#x1EE5; th&#x1EC3;, t&ocirc;ng Tr&#x1EAF;ng tr&ecirc;n Air Max 97 chi&#x1EBF;m di&#x1EC7;n t&iacute;ch nhi&#x1EC1;u h&#x1A1;n h&#x1EB3;n so v&#x1EDB;i b&#x1EA3;n Air Max Plus; logo
        | sketch c&utilde;ng &dstrok;&#x1B0;&#x1EE3;c &dstrok;&#x1EB7;t nh&#x1ECF;
        | xinh tr&ecirc;n m&#x1ED9;t m&#x1EA3;ng panel underlay &#x1EDF; gi&#x1EEF;a, b&ecirc;n h&ocirc;ng gi&agrave;y. B&ugrave; l&#x1EA1;i cho ph&#x1EA7;n branding h&#x1A1;i &ldquo;ch&igrave;m&rdquo; &dstrok;&oacute;,
        | m&#x1EA3;ng layer g&#x1EE3;n s&oacute;ng
        | quen thu&#x1ED9;c c&#x1EE7;a AM97 &dstrok;&#x1B0;&#x1EE3;c b&#x1ED5; sung 2 h&agrave;ng text v&#x1EDB;i lo&#x1EA1;t ch&#x1EEF; &ldquo;nike&rdquo;, v&#x1EDB;i 2 m&agrave;u n&#x1EC1;n &Dstrok;&#x1ECF; v&agrave; &Dstrok;en.
      img.img-post.img-fluid(src='./image/post/post-3.jpg' alt='')
      img.img-post.img-fluid(src='./image/post/post-4.jpg' alt='')
      img.img-post.img-fluid(src='./image/post/post-5.jpg' alt='')
      img.img-post.img-fluid(src='./image/post/post-6.jpg' alt='')
      img.img-post.img-fluid(src='./image/post/post-7.jpg' alt='')
      p
        | C&ograve;n tr&ecirc;n Air Max Plus, branding l&#x1EA1;i ho&agrave;nh tr&aacute;ng v&#x1EDB;i logo sketch &dstrok;&#x1B0;&#x1EE3;c ph&oacute;ng to chi&#x1EBF;m g&#x1EA7;n nh&#x1B0; h&#x1EBF;t
        | chi&#x1EC1;u cao c&#x1EE7;a upper. M&agrave;u
        | s&#x1EAF;c c&#x1EE7;a gi&agrave;y &dstrok;&#x1B0;&#x1EE3;c ph&#x1ED1;i v&#x1EDB;i &dstrok;&#x1ED9; t&#x1B0;&#x1A1;ng ph&#x1EA3;n cao, g&#x1ED3;m nh&#x1EEF;ng m&#x1EA3;ng &Dstrok;en, Tr&#x1EAF;ng, &Dstrok;&#x1ECF; v&#x1EDB;i di&#x1EC7;n t&iacute;ch to h&ograve;a
        | quy&#x1EC7;n v&agrave;o nhau.
      p
        | Ngo&agrave;i ra, gi&agrave;y c&utilde;ng tr&ocirc;ng c&oacute; ph&#x1EA7;n &ldquo;flexing&rdquo; v&#x1EDB;i s&#x1EF1; xu&#x1EA5;t hi&#x1EC7;n c&#x1EE7;a ch&#x1EA5;t li&#x1EC7;u Da B&oacute;ng &#x1EDF; c&aacute;c m&#x1EA3;ng &Dstrok;en.
      img.img-post.img-fluid(src='./image/post/post-8.jpg' alt='')
      img.img-post.img-fluid(src='./image/post/post-9.jpg' alt='')
      img.img-post.img-fluid(src='./image/post/post-10.jpg' alt='')
      p
        | Pack &ldquo;Logo Sketch&rdquo; g&#x1ED3;m 2 thi&#x1EBF;t k&#x1EBF; tr&ecirc;n d&#x1EF1; ki&#x1EBF;n s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c ph&aacute;t h&agrave;nh v&agrave;o ng&agrave;y 10/08 t&#x1EDB;i t&#x1EA1;i webstore c&#x1EE7;a
        | Nike.
      .share-btn
        button.facebook.btn
          i.fab.fa-facebook-f.icon
          span.text Facebook
        button.twitter.btn
          i.fab.fa-twitter.icon
          span.text Twitter
        button.pinterest.btn
          i.fab.fa-pinterest.icon
          span.text Pinterest
  .author-info-wrapper.container
    .row
      .avatar-wrapper.col-md-2.col-7.mx-auto
        img.img-fluid.avatar(src='./image/post/avatar.png' alt='')
      .author-info.col-md-10.col-12
        .author
          | Cody
        .details Là một người yêu thích văn hoá sát mặt đất, mình muốn lan toả niềm đam mê của bản thân đến với tất cả mọi người.
        .social-info
          a.email.icon(href='#')
            i.fas.fa-envelope
          a.facebook.icon(href='#')
            i.fab.fa-facebook-f
          a.twitter.icon(href='#')
            i.fab.fa-twitter
  section.latest-news.container
    .row
      .title.col-12
        h2.h2 B&Agrave;I VI&#x1EBE;T LI&Ecirc;N QUAN
        .slick-arrow
    .carousel
      .news.position-relative
        .card
          img.card-img-top(src='./image/news/news-1-thumnails.jpg' alt='news-1')
          .card-body
            h5.card-title Jordan Brand k&#x1EF7; ni&#x1EC7;m FIBA b&#x1EB1;ng m&#x1ED9;t BST &ldquo;m&atilde;n nh&atilde;n&rdquo;
            p.card-text.news-short-desc
              | Jordan Brand m&#x1EDB;i &dstrok;&acirc;y &dstrok;&atilde; tung ra m&#x1ED9;t b&#x1ED9; s&#x1B0;u t&#x1EAD;p &dstrok;&#x1EB7;c bi&#x1EC7;t
              | v&#x1EDB;i
            p.card-text.author
              | By 
              span.name Cody
              |  &middot; 27/07/2019
        .shadow.mx-auto.position-absolute
      .news.position-relative
        .card
          img.card-img-top(src='./image/news/news-2-thumnails.jpg' alt='news-2')
          .card-body
            h5.card-title Jordan Brand k&#x1EF7; ni&#x1EC7;m FIBA b&#x1EB1;ng m&#x1ED9;t BST &ldquo;m&atilde;n nh&atilde;n&rdquo;
            p.card-text.news-short-desc
              | Jordan Brand m&#x1EDB;i &dstrok;&acirc;y &dstrok;&atilde; tung ra m&#x1ED9;t b&#x1ED9; s&#x1B0;u t&#x1EAD;p &dstrok;&#x1EB7;c bi&#x1EC7;t
              | v&#x1EDB;i
            p.card-text.author
              | By 
              span.name Cody
              |  &middot; 27/07/2019
        .shadow.mx-auto.position-absolute
      .news.position-relative
        .card
          img.card-img-top(src='./image/news/news-3-thumnails.jpg' alt='news-3')
          .card-body
            h5.card-title Jordan Brand k&#x1EF7; ni&#x1EC7;m FIBA b&#x1EB1;ng m&#x1ED9;t BST &ldquo;m&atilde;n nh&atilde;n&rdquo;
            p.card-text.news-short-desc
              | Jordan Brand m&#x1EDB;i &dstrok;&acirc;y &dstrok;&atilde; tung ra m&#x1ED9;t b&#x1ED9; s&#x1B0;u t&#x1EAD;p &dstrok;&#x1EB7;c bi&#x1EC7;t
              | v&#x1EDB;i
            p.card-text.author
              | By 
              span.name Cody
              |  &middot; 27/07/2019
        .shadow.mx-auto.position-absolute
      .news.position-relative
        .card
          img.card-img-top(src='./image/news/news-4-thumnails.jpg' alt='news-4')
          .card-body
            h5.card-title Jordan Brand k&#x1EF7; ni&#x1EC7;m FIBA b&#x1EB1;ng m&#x1ED9;t BST &ldquo;m&atilde;n nh&atilde;n&rdquo;
            p.card-text.news-short-desc
              | Jordan Brand m&#x1EDB;i &dstrok;&acirc;y &dstrok;&atilde; tung ra m&#x1ED9;t b&#x1ED9; s&#x1B0;u t&#x1EAD;p &dstrok;&#x1EB7;c bi&#x1EC7;t
              | v&#x1EDB;i
            p.card-text.author
              | By 
              span.name Cody
              |  &middot; 27/07/2019
        .shadow.mx-auto.position-absolute
      .news.position-relative
        .card
          img.card-img-top(src='./image/news/news-5-thumnails.jpg' alt='news-5')
          .card-body
            h5.card-title Jordan Brand k&#x1EF7; ni&#x1EC7;m FIBA b&#x1EB1;ng m&#x1ED9;t BST &ldquo;m&atilde;n nh&atilde;n&rdquo;
            p.card-text.news-short-desc
              | Jordan Brand m&#x1EDB;i &dstrok;&acirc;y &dstrok;&atilde; tung ra m&#x1ED9;t b&#x1ED9; s&#x1B0;u t&#x1EAD;p &dstrok;&#x1EB7;c bi&#x1EC7;t
              | v&#x1EDB;i
            p.card-text.author
              | By 
              span.name Cody
              |  &middot; 27/07/2019
        .shadow.mx-auto.position-absolute
      .news.position-relative
        .card
          img.card-img-top(src='./image/news/news-6-thumnails.jpg' alt='news-6')
          .card-body
            h5.card-title Jordan Brand k&#x1EF7; ni&#x1EC7;m FIBA b&#x1EB1;ng m&#x1ED9;t BST &ldquo;m&atilde;n nh&atilde;n&rdquo;
            p.card-text.news-short-desc
              | Jordan Brand m&#x1EDB;i &dstrok;&acirc;y &dstrok;&atilde; tung ra m&#x1ED9;t b&#x1ED9; s&#x1B0;u t&#x1EAD;p &dstrok;&#x1EB7;c bi&#x1EC7;t
              | v&#x1EDB;i
            p.card-text.author
              | By 
              span.name Cody
              |  &middot; 27/07/2019
        .shadow.mx-auto.position-absolute
      .news.position-relative
        .card
          img.card-img-top(src='./image/news/news-7-thumnails.jpg' alt='news-7')
          .card-body
            h5.card-title Jordan Brand k&#x1EF7; ni&#x1EC7;m FIBA b&#x1EB1;ng m&#x1ED9;t BST &ldquo;m&atilde;n nh&atilde;n&rdquo;
            p.card-text.news-short-desc
              | Jordan Brand m&#x1EDB;i &dstrok;&acirc;y &dstrok;&atilde; tung ra m&#x1ED9;t b&#x1ED9; s&#x1B0;u t&#x1EAD;p &dstrok;&#x1EB7;c bi&#x1EC7;t
              | v&#x1EDB;i
            p.card-text.author
              | By 
              span.name Cody
              |  &middot; 27/07/2019
        .shadow.mx-auto.position-absolute

block footer
  include ./template-parts/footer

block customizeScript
  // Slick Js
  script(type="text/javascript" src="./vendor/slick/slick.min.js")

  // Common Js
  script(src="./script/except-home-page.js")
  script(src="./script/post.js")
  script(src="./script/lastest-news.js")