extends ./common

block customizeCss
  // Components CSS
  link(rel='stylesheet' type='text/css' href='./css/components/header.css')
  // Common CSS
  link(rel='stylesheet' type='text/css' href='./css/main.css')
  link(rel='stylesheet' type='text/css' href='./css/except-home-page.css')
  link(rel='stylesheet' type='text/css' href='./css/congrats.css')

block title
  title Xin chúc mừng

block header
  include ./template-parts/header

block mainContent
  .main-wrapper.container-fluid
    .header
      h1.h1.title
        | Xin ch&uacute;c m&#x1EEB;ng
      .sub-title Bạn đã bán sản phẩm thành công, vui lòng kiểm tra lại thông tin đơn hàng bán ở dưới đây
    // Short Desc
    .short-desc-wrapper.row
      .short-desc.container
        .order-number-wrapper.content
          .title
            | M&Atilde; &Dstrok;&#x1A0;N H&Agrave;NG
          .order-number.main-content
            | 12345
        .order-date-wrapper.content
          .title NGÀY ĐẶT BÁN
          .order-date.main-content
            | 03/08/2019
        .total-price-wrapper.content
          .title DOANH THU
          .total-price.main-content
            | 8,844,500 &#x20AB;
        .payment-methods-wrapper.content
          .title
            | PH&#x1AF;&#x1A0;NG TH&#x1EE8;C THANH TO&Aacute;N
          .payment-methods.main-content
            | Thanh to&aacute;n khi nh&#x1EAD;n h&agrave;ng
    // Full Desc
    .full-desc-wrapper.row
      .full-desc.container
        div
          h2.h2 Th&ocirc;ng tin &dstrok;&#x1A1;n h&agrave;ng bán
          .content
            div
              | S&#x1EA2;N PH&#x1EA8;M
            div THÀNH TIỀN
          .break-line
          .content
            .product-details
              a.product-name(href='./product-details.html')
                | Adidas Yeezy Boost 700 Wave Runner Solid Grey
              .size 9US | 42.5VN | 26.2CM
            .sub-price
              | 9,030,700 &#x20AB;
          .break-line
          .content-price
            .sub-price-wrapper.wrapper
              .text GIÁ BÁN SẢN PHẨM
              .sub-price
                | 9,310,000 &#x20AB;
          .content-price
            .shipping-price-wrapper.wrapper
              .text
                | PHÍ VẬN HÀNH 
                i.fas.fa-question-circle(data-toggle="tooltip" data-placement="top" title="Phí vận hành bằng 5% giá bán của sản phẩm")
              .sub-price
                | 465,500 &#x20AB;
          .content-price
            .total-price-wrapper.wrapper
              .text DOANH THU
              .sub-price
                | 8,844,500 &#x20AB;
    .go-back-home-wrapper
      a.go-back-home(href='./index.html')
        button.btn.btn-primary.go-back-home-btn.red-btn Tr&#x1EDF; v&#x1EC1; trang ch&#x1EE7;

block footer
  include ./template-parts/footer

block customizeScript
  script(src="./script/sell-confirm.js")
  script(src="./script/except-home-page.js")