extends ./common

block customizeCss
  // Components CSS
  link(rel="stylesheet" type="text/css" href="./css/components/header.css")
  link(rel="stylesheet" type="text/css" href="./css/components/buying/product-info.css")
  link(rel='stylesheet' type='text/css' href='./css/components/buying/pricing.css')
  link(rel='stylesheet' type='text/css' href='./css/components/buying/shipping-info.css')

  link(rel="stylesheet" type="text/css" href="./css/components/product-details/size-choose.css")
  link(rel='stylesheet' type='text/css' href='./css/components/buying/buying-section.css')
  link(rel="stylesheet" type="text/css" href="./css/components/product-details/size-guide-table.css")
  link(rel="stylesheet" type="text/css" href="./css/components/input-radio.css")

  // Common CSS
  link(rel="stylesheet" type="text/css" href="./css/main.css")
  link(rel="stylesheet" type="text/css" href="./css/except-home-page.css")
  link(rel="stylesheet" type="text/css" href="./css/used-in-js.css")

block title
  title Bán sản phẩm

block header
  include ./template-parts/header

block mainContent
  .main-wrapper.container
    .row
      // Product Info Section
      section.product-info-wrapper.col-lg-7
        .product-info
          .product-name
            | Adidas Yeezy Boost 700 Wave Runner Solid Grey
          .price-info
            span.first-row Giá đặt mua cao nhất: 
              span.bid-price-info 9,310,000 &#x20AB; 
            span.line | 
            span.second-line  Giá đặt bán thấp nhất: 
              span.ask-price-info 9,550,000 &#x20AB;
          .size-info-wrapper
            | Size: 
            span.size-info
              | 8US | 41VN | 26CM
          a.product-image(href='./product-details.html')
            img.img-fluid(src='./image/product-details-image/1.jpg' alt='image-1')
      // Selling Function Section
      section.buying.col-lg-5
        // Adress Section
        .address-info-wrapper.childs
          .header
            .title Địa chỉ giao hàng
            button.btn.btn-primary.change.red-btn Thay đổi
          .info-wrapper
          .btns
            button.btn.btn-primary.complete.red-btn Hoàn thành
            button.btn.btn-primary.cancel.trans-btn Trở lại
        // Pricing Section
        .pricing.childs
          .size-btn(data-toggle="modal" data-target="#sizeChooseModal")
            button.btn.btn-primary.size.trans-btn
              span.size-text Size
              span.size-details 8US | 41VN | 25.4CM
              i.fas.fa-chevron-down.dropdown-arrow
          .asks-sell-btn
            include ./template-parts/sell-price-counting
        button.btn.btn-primary.confirm-btn.red-btn
          | &Dstrok;&#x1EB7;t b&aacute;n

  // Modals
  include ./template-parts/size-choose-modal
  include ./template-parts/size-guide-modal
  include ./template-parts/shipping-info

block footer
  include ./template-parts/footer

block customizeScript
  // Currency
  script(type="text/javascript" src="./vendor/currency/currency.min.js")

  // Common
  script(src="./script/except-home-page.js")
  script(src="./script/size-render.js")
  script(src="./script/size-choose.js")
  script(src="./script/sell-page.js")
  script(src="./script/address-select.js")