extends ./common 

block customizeCss
  // Components CSS
  link(rel="stylesheet" type="text/css" href="./css/components/header.css")
  link(rel="stylesheet" type="text/css" href="./css/components/products.css")
  link(rel="stylesheet" type="text/css" href="./css/components/shop/filter-bar.css")
  link(rel="stylesheet" type="text/css" href="./css/components/shop/product-showing.css")
  link(rel="stylesheet" type="text/css" href="./css/components/shop/filter-bar-small.css")
  // Common CSS
  link(rel="stylesheet" type="text/css" href="./css/main.css")
  link(rel="stylesheet" type="text/css" href="./css/except-home-page.css")
  link(rel="stylesheet" type="text/css" href="./css/used-in-js.css")

block title
  title Sản phẩm

block header
  include ./template-parts/header

block mainContent
  .breadcrumb.container
    a.previous-page(href='./index.html') Trang ch&#x1EE7;
    i.fas.fa-chevron-right.arrow
    span.current-page S&#x1EA3;n ph&#x1EA9;m
  .shop-content-wrapper.container
    .row
      .filter-bar.col-lg-3
        .filter-header.content
          .left-side.d-flex.align-items-center
            i.fas.fa-sliders-h
            .text
              | L&#x1ECD;c
          button.clear-filter.btn.btn-primary
            | B&#x1ECF; l&#x1ECD;c
        .break-line
        .brand.content
          .title(data-toggle="collapse" href="#brand-collapse" role="button" aria-expanded="false" aria-controls="brand-collapse")
            .text
              | Th&#x1B0;&#x1A1;ng hi&#x1EC7;u
            i.fas.fa-chevron-up
          .select-filter.collapse.show(id="brand-collapse")
            .item
              .pretty.p-svg.p-curve
                input.filter-checkbox(type='checkbox' name='nike' id='nike /')
                .state.p-success
                  svg.svg.svg-icon(viewbox='0 0 20 20')
                    path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                  label.checkbox-label(for='nike') Nike
            .item
              .pretty.p-svg.p-curve
                input.filter-checkbox(type='checkbox' name='air-jordan' id='air-jordan /')
                .state.p-success
                  svg.svg.svg-icon(viewbox='0 0 20 20')
                    path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                  label.checkbox-label(for='air-jordan') Air Jordan
            .item
              .pretty.p-svg.p-curve
                input.filter-checkbox(type='checkbox' name='adidas' id='adidas /')
                .state.p-success
                  svg.svg.svg-icon(viewbox='0 0 20 20')
                    path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                  label.checkbox-label(for='adidas') Adidas
            .item
              .pretty.p-svg.p-curve
                input.filter-checkbox(type='checkbox' name='supreme' id='supreme /')
                .state.p-success
                  svg.svg.svg-icon(viewbox='0 0 20 20')
                    path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                  label.checkbox-label(for='supreme') Supreme
            #see-more-dropdown
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='nike' id='nike /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='nike') Nike
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='air-jordan' id='air-jordan /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='air-jordan') Air Jordan
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='adidas' id='adidas /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='adidas') Adidas
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='supreme' id='supreme /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='supreme') Supreme
            .see-more#see-more-brand
              | Xem th&ecirc;m
        .break-line
        .category.content
          .title(data-toggle="collapse" href="#categories-collapse" role="button" aria-expanded="false" aria-controls="categories-collapse")
            .text
              | Danh m&#x1EE5;c
            i.fas.fa-chevron-up
          .select-filter.collapse.show(id="categories-collapse")
            .item
              .pretty.p-svg.p-curve
                input.filter-checkbox(type='checkbox' name='male' id='male /')
                .state.p-success
                  svg.svg.svg-icon(viewbox='0 0 20 20')
                    path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                  label.checkbox-label(for='male') Nam
            .item
              .pretty.p-svg.p-curve
                input.filter-checkbox(type='checkbox' name='female' id='female /')
                .state.p-success
                  svg.svg.svg-icon(viewbox='0 0 20 20')
                    path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                  label.checkbox-label(for='female') N&#x1EEF;
            .item
              .pretty.p-svg.p-curve
                input.filter-checkbox(type='checkbox' name='youth' id='youth /')
                .state.p-success
                  svg.svg.svg-icon(viewbox='0 0 20 20')
                    path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                  label.checkbox-label(for='youth') Thi&#x1EBF;u ni&ecirc;n
            .item
              .pretty.p-svg.p-curve
                input.filter-checkbox(type='checkbox' name='toddler' id='toddler /')
                .state.p-success
                  svg.svg.svg-icon(viewbox='0 0 20 20')
                    path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                  label.checkbox-label(for='toddler') S&#x1A1; sinh
        .break-line
        .size.content
          .title(data-toggle="collapse" href="#size-collapse" role="button" aria-expanded="false" aria-controls="size-collapse")
            .text
              | Size
            i.fas.fa-chevron-up
          .select-filter.collapse.show(id="size-collapse")
        .break-line
        .price-range.content
          .title
            .text
              | Kho&#x1EA3;ng gi&aacute;
          input.form-control.price-input(type='text' placeholder='Từ' onkeypress='return priceInputValidate(event)')
          input.form-control.price-input(type='text' placeholder='Đến' pattern='[0-9]' onkeypress='return priceInputValidate(event)')
          button.btn.btn-primary.apply-price.red-btn
            | &aacute;p d&#x1EE5;ng
        .break-line
        .release-date.content
          .title(data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample")
            .text
              | N&abreve;m ra m&#x1EAF;t
            i.fas.fa-chevron-up
          .select-filter.collapse.show(id="collapseExample")
            .date-row
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='under-2010' id='under-2010 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='under-2010') < 2010
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2011' id='2011 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2011') 2011
            .date-row
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2012' id='2012 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2012') 2012
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2013' id='2013 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2013') 2013
            .date-row
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2014' id='2014 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2014') 2014
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2015' id='2015 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2015') 2015
            .date-row
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2016' id='2016 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2016') 2016
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2017' id='2017 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2017') 2017
            .date-row
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2018' id='2018 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2018') 2018
              .item
                .pretty.p-svg.p-curve
                  input.filter-checkbox(type='checkbox' name='2019' id='2019 /')
                  .state.p-success
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                      path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z' style='stroke: white;fill:white;')
                    label.checkbox-label(for='2019') 2019
      .product-showing.col-lg-9.col-12
        .sort
          .sort-content
            | S&#x1EAF;p x&#x1EBF;p theo 
            span.sort-name B&aacute;n ch&#x1EA1;y
            i.fas.fa-chevron-down
            include ./template-parts/sort-dropdown

          .filter-icon(data-toggle="modal" data-target="#filterModal")
            i.fas.fa-filter
        .product-row
          a#123456.product-link(href='./product-details.html')
            .product.position-relative
              .card
                img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
                .card-body
                  h5.card-title
                    | Adidas Yeezy Boost 350
                    | V2 Lundmark (Non
                  p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                  p.price 7.200.000 &#x20AB;
                  p.card-text.sold &Dstrok;&atilde; b&aacute;n 1963 &dstrok;&ocirc;i
              .shadow.mx-auto.position-absolute
          a#78910.product-link(href='./index.html')
            .product.position-relative
              .card
                img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
                .card-body
                  h5.card-title Jordan 4 Retro Cool Grey (2019)
                  p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                  p.price 4.810.000 &#x20AB;
                  p.card-text.sold &Dstrok;&atilde; b&aacute;n 1312 &dstrok;&ocirc;i
              .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Jordan 1 Retro Low OG SP Travis Scott
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 20.790.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 2246 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Air Jordan 1 Mid Yellow Toe Black
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 3.740.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 564 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Nike SB Dunk Low Parra
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 6.620.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1456 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title
                  | Adidas Yeezy Boost 350
                  | V2 Lundmark (Non
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 7.200.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1963 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Jordan 4 Retro Cool Grey (2019)
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 4.810.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1312 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Jordan 1 Retro Low OG SP Travis Scott
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 20.790.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 2246 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Air Jordan 1 Mid Yellow Toe Black
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 3.740.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 564 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Nike SB Dunk Low Parra
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 6.620.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1456 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title
                  | Adidas Yeezy Boost 350
                  | V2 Lundmark (Non
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 7.200.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1963 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Jordan 4 Retro Cool Grey (2019)
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 4.810.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1312 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Jordan 1 Retro Low OG SP Travis Scott
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 20.790.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 2246 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Air Jordan 1 Mid Yellow Toe Black
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 3.740.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 564 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Nike SB Dunk Low Parra
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 6.620.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1456 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title
                  | Adidas Yeezy Boost 350
                  | V2 Lundmark (Non
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 7.200.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1963 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Jordan 4 Retro Cool Grey (2019)
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 4.810.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1312 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Jordan 1 Retro Low OG SP Travis Scott
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 20.790.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 2246 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Air Jordan 1 Mid Yellow Toe Black
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 3.740.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 564 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
          .product.position-relative
            .card
              img.card-img-top(src='./image/product/adidas-Yeezy-Boost-350-V2-Lundmark-Product.png' alt='adidas-Yeezy-Boost-350-V2-Lundmark')
              .card-body
                h5.card-title Nike SB Dunk Low Parra
                p.card-text.price-desc Gi&aacute; th&#x1EA5;p nh&#x1EA5;t hi&#x1EC7;n t&#x1EA1;i
                p.price 6.620.000 &#x20AB;
                p.card-text.sold &Dstrok;&atilde; b&aacute;n 1456 &dstrok;&ocirc;i
            .shadow.mx-auto.position-absolute
        nav.pagination-wrapper(aria-label='Page navigation example')
          ul.pagination
            li.page-item
              a.page-link(href='#' aria-label='Previous')
                span(aria-hidden='true') &laquo;
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#' aria-label='Next')
                span(aria-hidden='true') &raquo;
  include ./template-parts/filter-modal

block footer
  include ./template-parts/footer

block customizeScript
  script(src="./script/except-home-page.js")
  script(src="./script/size-render.js")
  script(src="./script/shop.js")
