#changePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='changePasswordLabel', aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#changePasswordLabel.modal-title Đổi mật khẩu
      .modal-body 
        .current-password.item-row
          .text Mật khẩu cũ
          .password-wrapper
            input.form-control(type="password", autocomplete="autocomplete")
        .new-password.item-row
          .text Mật khẩu mới
          .password-wrapper
            input.form-control(type="password", autocomplete="autocomplete")
        .new-password-confirm.item-row
          .text Nhập lại mật khẩu mới
          .password-wrapper
            input.form-control(type="password", autocomplete="autocomplete")
      .modal-footer
        button.btn(type='button', data-dismiss='modal') Huỷ bỏ
        button.btn.btn-primary.red-btn(type='button') Lưu