#confirmDelete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmDeleteLabel', aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#confirmDeleteLabel.modal-title Xác nhận xoá
      .modal-body Bạn có muốn xoá thông tin thanh toán này không?
      .modal-footer
        button.btn(type='button', data-dismiss='modal') Huỷ bỏ
        button.btn.btn-primary.red-btn(type='button') Xác nhận