footer.container-fluid
  .container
    .row.align-items-center
      .logo.col-md-3.col-12.text-md-left.text-center
        img.img-fluid(src='./image/logo-white.png' alt='logo')
      .footer-link.col-md-9.col-12.d-flex.justify-content-md-end.align-items-center.flex-md-row.flex-column
        a.item(href='./faqs.html') Các câu hỏi thường gặp
        a.item(href='./rules.html') Điều khoản
        a.item(href='./policy.html') Chính sách
        a.item(href='#') Hỗ trợ
