header.container-fluid
  nav.navbar.navbar-expand-lg.navbar-light.container
    a.navbar-brand(href='./')
      img.img-fluid(src='./image/logo-white.png' alt='logo')
    .search-form
      form
        .search-input-wrapper
          input.form-control.search-input(type='text' placeholder='Bạn cần tìm gì...')
          button.btn.btn-primary.text-uppercase.red-btn.search-button(type='submit')
            i.fas.fa-search
          .search-result
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-md-end.text-center
      ul.navbar-nav
        li.nav-item
          a.nav-link#shop(href='./shop.html') Sản phẩm
        li.nav-item
          a.nav-link#news(href='./news.html') Tin tức
        li.nav-item
          a.nav-link.account-setting#account(href='' data-toggle="modal" data-target="#signInSignUp")