header.container-fluid
  nav.navbar.navbar-expand-lg.navbar-light.container
    a.navbar-brand(href='./')
      img.img-fluid(src='./image/logo-white.png' alt='logo')
    .search-form
      form
        input.form-control(type='text' placeholder='Bạn cần tìm gì...')
        button.btn.btn-primary.text-uppercase.col-xl-2.col-md-3.col-12.red-btn(type='submit')
          | T&igrave;m ki&#x1EBF;m t&#x1EA5;t c&#x1EA3;
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-md-end.text-center
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='./shop.html') S&#x1EA3;n ph&#x1EA9;m
        li.nav-item
          a.nav-link(href='./news.html') Tin t&#x1EE9;c
        li.nav-item
          a.nav-link(href='./account.html') T&agrave;i kho&#x1EA3;n
