#sizeChooseModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='sizeChooseModalTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-scrollable(role='document')
    .modal-content
      .modal-header
        h5#sizeChooseModalTitle.modal-title Chọn size
        a.size-guide.text-btn(data-toggle="modal" href="#sizeGuideModal" data-dismiss="modal") Bảng size
      .modal-body
        .size.content
          .select-filter
