#sizeGuideModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='sizeGuideModalTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-scrollable(role='document')
    .modal-content
      .modal-header
        a.go-back-size-choose.text-btn(data-toggle="modal" href="#sizeChooseModal" data-dismiss="modal")
          i.fas.fa-chevron-left
          |  Trở lại
        h5#sizeGuideModalTitle.modal-title Bảng size
      .modal-body
        table.side-guide-table.table
          thead
            tr
              th CM
              th VN/EU
              th US
          tbody
            tr
              td 23.7
              td 38.5
              td 6
            tr
              td 23.7
              td 38.5
              td 6
