extends ../../layouts/common

block content
    .container
        H1 User Info
        p.font-weight-bold Name:&nbsp;
            span.font-weight-normal= user.name
        p.font-weight-bold Phone:&nbsp;
            span.font-weight-normal= user.phone