@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  color: #333333;
}

.text-btn {
  cursor: pointer;
  color: #F04E40;
}

a {
  text-decoration: none !important;
  color: #333333;
  cursor: pointer;
}
a:hover {
  color: inherit;
}

.custom-select:focus {
  border-color: #333333;
  box-shadow: none;
}

.trans-btn {
  color: #333333 !important;
  background-color: white !important;
  border: 0.0625rem solid #D5D6D6 !important;
  border-radius: 0.25rem;
}
.trans-btn:hover {
  background-color: white !important;
  border-color: #333333 !important;
}
.trans-btn:focus {
  background-color: white !important;
}
.trans-btn:active {
  background-color: white !important;
  border-color: #333333 !important;
}

.btn:focus,
.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn:active,
.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
}

.green-btn {
  background-color: #12B76D !important;
  border-color: #12B76D !important;
  color: white !important;
}
.green-btn:hover {
  background-color: #0f985b !important;
}
.green-btn:active {
  background-color: #12B76D !important;
}
.green-btn:focus {
  background-color: #12B76D !important;
  border-color: #12B76D !important;
  color: white !important;
}

.search-result {
  position: absolute;
  top: 50px;
  width: 50%;
  max-height: 50vh;
  overflow-y: scroll;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 2px;
  z-index: 100;
}
.search-result .product-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.25rem;
  text-align: left;
  grid-gap: 1.25rem;
  align-items: center;
  border-bottom: 1px solid #D5D6D6;
}
.search-result .search-product-brand {
  color: #767676;
}
.search-result .search-product-name {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #333333;
  margin: 0.625rem 0px;
}
.search-result .search-products-sell .price-showing {
  color: #F04E40;
  font-weight: bold;
}
.search-result .search-products-buy .price-showing {
  color: #12B76D;
  font-weight: bold;
}

.red-btn {
  background-color: #F04E40 !important;
  border-color: #F04E40 !important;
  color: white !important;
}
.red-btn:hover {
  background-color: #CE2E2F !important;
  border-color: #CE2E2F !important;
}
.red-btn:active {
  background-color: #F04E40 !important;
}

.form-control {
  color: #333333;
  height: auto;
}
.form-control:focus {
  color: #333333;
  outline: none;
  box-shadow: none;
  border-color: inherit;
  border-color: #333333;
}
.form-control::placeholder {
  color: #B6B6B6;
}

.navbar-light .navbar-nav .nav-link {
  white-space: nowrap;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff;
}

.modal-sub-title {
  font-size: 0.75rem;
  color: #ABACAD;
  font-weight: normal;
}

.h2 {
  font-size: 1.625rem;
  margin-bottom: 0px;
}

footer {
  background-color: #333333;
  margin-top: 3.125rem;
}

footer .row {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

footer .footer-link .item {
  color: #ffffff;
  text-decoration: none;
  padding-left: 1.875rem;
}
footer .footer-link .item:hover {
  color: #eeeeee;
}

@media (min-width: 1230px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 768px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    border-bottom: transparent !important;
  }
}
@media (max-width: 767px) {
  footer .footer-link .item {
    padding-left: 0px;
    padding-top: 0.3125rem;
  }

  footer .row {
    padding: 1.875rem;
  }

  footer .footer-link {
    padding-top: 0.625rem;
  }

  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 576px) {
  footer {
    margin-top: 1.25rem;
  }
}
.btn-primary:not(:disabled):not(.disabled):active {
  border-color: inherit;
}

.pretty input:checked ~ .state.p-success label:after,
.pretty.p-toggle .state.p-success label:after {
  background-color: #F04E40 !important;
}

/*# sourceMappingURL=main.css.map */
