@import "../../root.scss";

// Common

.buying {
    & .header {
        @include flex-center-between;
    }

    & .title {
        font-size: $twenty-four-pixel;
        font-weight: $bold-size;
        line-height: $twenty-eight-pixel;
    }

    & .change.btn-primary {
        line-height: $nineteen-pixel;
    }
}

.address-info-wrapper {
    & button {
        padding: $six-pixel $ten-pixel;
    }

    & .btns {
        display: none;

        margin-top: $thirty-pixel;

        & button {
            &:last-child {
                margin-left: $twenty-pixel;
            }
        }

    }
}

.childs {
    padding: $thirty-pixel;
    padding-top: $twenty-five-pixel;
    @include border-w-radius;
}


// Payment methods 

.payment-methods {
    margin-top: $thirty-pixel;
}

.visa-master-wrapper {
    margin-top: $ten-pixel;
}

.confirm-btn {
    margin-top: $thirty-pixel;
    padding: $ten-pixel $twenty-five-pixel;
    font-size: $twenty-four-pixel;
    line-height: $twenty-four-pixel;
}

@media (max-width: $medium-devices-width) {
    .buying {
        margin-top: $thirty-pixel;
    }
}

@media (max-width: $small-devices-width) {
    .bid-buy-btn .btn, 
    .asks-sell-btn .btn {
        padding: $twelve-pixel;
    }

    .total-price-showing {
        font-size: $nineteen-pixel;
    }

    .childs {
        padding: $twenty-pixel $twelve-pixel;
    }

    .buying .title {
        font-size: $twenty-pixel;
    }
}

// New Shipping Modal

#addNewShipping,
#paymentMethods {

    & .modal-header,
    .modal-body,
    .modal-footer {
        padding: $thirty-pixel;
        padding-bottom: $zero-pixel;
    }

    & .modal-header,
    .modal-footer {
        border: $zero-pixel;
    }

    & .modal-footer {
        padding-bottom: $thirty-pixel;
    }

    & .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    & .nav-link {
        border-radius: $zero-pixel;
        background-color: $lighter-grey-color;
        text-align: center;
        padding: $twenty-pixel $zero-pixel;
        text-transform: uppercase;

        &.active {
            background-color: white;
            color: $text-dark;
        }
    }

    & .tab-pane {
        margin: $twenty-pixel $thirty-pixel;
    }

    & .form-control,
    .custom-select {
        margin-top: $twenty-pixel;
    }

    & .form-control {
        &:first-child {
            margin-top: $zero-pixel;
        }
    }

    & .make-default-wrapper {
        margin-top: $twenty-pixel;
    }

    & .btn {
        padding: $ten-pixel $fifty-pixel;
    }

    & .address {
        resize: none;
    }

    & .pivacy-text {
        margin-top: $twenty-pixel;
    }
}

#paymentMethods {
    .cvv-wrapper {
        @include flex-center-between;
        margin-top: $twenty-pixel;

        & .form-control {
            max-width: 80%;
        }
    }

    & .card-wrapper {
        display: flex;
    }

    & .jp-card-container {
        display: flex;
        justify-content: center;
        transform: scale(0.8)
    }
}


@media (min-width: 576px) {
    #paymentMethods {
        & .modal-dialog {
            max-width: 500px !important;
        }
    }
}

// Override Bootstrap modal

@media (min-width: 576px) {
    #addNewShipping {
        .modal-dialog-scrollable {
            max-height: calc(100% - 17rem);
        }
    }
}

@media (max-width: $small-devices-width) {
    .cvv-wrapper {
        & .form-control {
            width: 70%;
        }
    }
}

@media (max-width: 382px) {

    #addNewShipping,
    #paymentMethods {
        & .btn {
            padding: $ten-pixel $thirty-pixel;
        }
    }
}

@media (max-width: 323px) {
    .address-info-wrapper button {
        font-size: $twelve-pixel;
    }

    #paymentMethods {
        .jp-card-container {
            transform: scale(0.7)
        }
    }
}