@import "../../root.scss";

// Shipping Info

.radio-wrapper {
  margin-top: $twenty-pixel;

  & label:not(.card) {
    margin: $zero-pixel;
    line-height: $nineteen-pixel;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  & label.card {
    margin: $zero-pixel;
    line-height: $nineteen-pixel;
    flex-direction: row;
    border: $zero-pixel;
  }
}