body {
	width: 100%;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	margin: 0;
}

.rotate360 {
	animation: rotate360 3s linear infinite;
	animation-fill-mode: both;
}

@keyframes rotate360 {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}