@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    background-color: #F3F4FC;
}

main {
    height: calc(100vh - 15px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a0a0b5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #707090;
}

.background-header {
    background: linear-gradient(90deg, #9EA7FC 0%, #65B6F7 100%);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
    position: fixed;
    width: 100%;
}

.logo-text {
    text-transform: uppercase;
    font-size: 2.25rem;
    color: white;
    margin-left: 50px;
    font-weight: 900;
}

.config {
    font-size: 2.25rem;
    color: white;
    padding-right: 35px;
    padding-left: 37px;
    border-left: 2px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list {
    display: flex;
    justify-content: flex-start;
    padding-top: 150px;
    width: fit-content;
    margin-left: 50px;
    position: relative;
}

.card {
    background-color: #F3F3FF;
    min-width: 280px;
    margin-right: 50px;
    overflow: auto;
    background: #F3F3FF;
    box-shadow: 0px 0px 10px #D2D7E0;
    border-radius: 5px;
    height: fit-content;
    max-height: 650px;
}

/* .card:first-child {
    margin-left: 50px;
} */

.add-new-card {
    min-width: 280px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px dashed rgba(49, 49, 92, 0.5);
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    margin-right: 50px;
}

.add-new-card:last-child {
    margin-right: 50px;
}

.add-new-card .fa-plus-circle {
    padding: 0 10px;
    color: rgba(50, 50, 93, 0.5);
}

.add-new-card .add-new-task {
    color: rgba(50, 50, 93, 0.5);
}

.card-content-wrapper {
    width: calc(100% - 20px);
    margin: auto;
    padding: 21px 0;
}

.card-content-wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.card-content-wrapper .title {
    color: #707090;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 0 0 0 4px;
}

.card-content-wrapper .square {
    border-radius: 5px;
    background-color: #403EAE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content-wrapper .number {
    color: white;
    padding: 3px 8px;
}

.task-wrapper {
    width: 100%;
    min-height: 120px;
    background: white;
    border-radius: 5px;
    padding: 14px 10px 14px 10px;
    margin-bottom: 10px;
}

.task-wrapper .task-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.create-time {
    color: #96ADCF;
    font-size: 0.875rem;
}

.task-wrapper .icons {
    font-size: 0.875rem;
    cursor: pointer;
}

.task-wrapper .icons i:first-child {
    margin-right: 10px;
}

.task-wrapper .task-content {
    line-height: 20px;
    color: #707090;
    max-width: calc(100% - 43px);
    margin-bottom: 16px;
}

.tag-wrapper {
    max-width: calc(100% - 43px);
}

.tag-wrapper .tag {
    font-size: 0.75rem;
    color: white;
    background-color: #65B6F7;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.add-new-task-wrapper {
    border: 2px dashed rgba(49, 49, 92, 0.5);
    /* height: 30px; */
    border-radius: 3px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.add-new-task-wrapper .fa-plus-circle {
    padding: 0 10px;
    color: rgba(50, 50, 93, 0.5);
}

.add-new-task-wrapper .add-new-task {
    color: rgba(50, 50, 93, 0.5);
}

.task-hatch {
    background-image: url(../image/hatch-bg.png);
    border: 1px solid #DBDCE3;
    border-radius: 5px;
    height: 150px;
    margin-bottom: 10px;
}

.add-new-task-box,
.new-task-content, .edit-content {
    width: 100%;
    border: 0;
    border-radius: 5px;
    height: auto;
    outline: none;
}

.add-new-task-box {
    height: auto;
}

.new-task-content, .edit-content {
    padding: 10px;
    font-size: 1rem;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    margin-bottom: 10px;
    color: #707090;
}

.edit-content {
    padding-left: 0;
}

.add-new-task-box .footer {
    display: flex;
    align-items: center;
}

.add-new-task-btn, .save-task-btn {
    border: 0;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #4d943a;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
}

.add-new-task-btn:hover, .save-task-btn:hover {
    background-color: #5aac44;
}

.add-new-task-box .footer i {
    font-size: 1.5rem;
    color: #707090;
    cursor: pointer;
}

.add-new-task-box .footer i:hover {
    color: #83839f;
}

#modal-delete-btn {
    color: white;
}

.new-task-content {
    background-color: white;
}