#wrap-input {
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
}

#header {
    display: flex;
    align-items: center;
    margin: 5px 0 30px 0;
}

h1 {
    width: 80%;
    font-size: 1.5em;
}

.fa-arrow-left {
    width: 100%;
    font-size: 25px;
}

#go-back-home {
    color: black;
    margin-left: 20px;
}

#go-back-home:visited {
    color: black;
}

.label {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-top: 30px;
}

.input {
    width: 100%;
    padding-left: 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    font-size: 16px;
    outline: 0;
}

#input-password {
    width: 100%;
    display: flex;
    height: 100%;
}

#login-password {
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    border-right: 0;
}

#login-btn {
    width: 120px;
    max-width: 100%;
    border-radius: 999px;
    background-color: #2e2a48;
    color: white;
    font-size: 16px;
    height: 50px;
    outline: 0;
    cursor: pointer;
    margin-top: 50px;
}

#hide-show-password {
    width: 20%;
    height: 50px;
    text-align: center;
    background-color: #d0d0d0;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 1px solid #d0d0d0;
    border-left: 0;
}

#register-message {
    font-size: 16px;
    margin: 30px 0 30px 0;
}

#register-message a {
    color: #2e2a48;
}

#register-message a:visited {
    color: #2e2a48;
}

/* .error {
    display: block;
    padding: 10px 0 30px 0;
    font-size: 16px;
    text-align: left;
    color: #bc5461;
    height: 20px;
} */

@keyframes appear {
    from {opacity: 0;};
    to {opacity: 1;}
}

.error {
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    background-color: #bc5461;
    display: flex;
    align-items: center;
    border-radius: 3px;
    font-size: 16px;
    position: absolute;
    visibility: hidden;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.error:before {
    content: "";
    background-color: #bc5461;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    left: 10px;
    transform: rotate(45deg)
}