#part-1 {
    width: 60% !important;
}

#part-2 {
    width: 40% !important;
}

#header {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}

h1 {
    width: 80%;
    font-size: 1.5em;
}

.fa-arrow-left {
    width: 100%;
    font-size: 25px;
}

#go-back-home {
    color: black;
    margin-left: 20px;
}

#go-back-home:visited {
    color: black;
}

#table-wrap {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}

table,
th,
td {
    text-align: left;
    padding: 20px 10px 20px 10px;
    border: 2px solid #d0d0d0;
    border-collapse: collapse;
    font-size: 16px;
}

th {
    max-width: 35%;
    height: auto;
}

td {
    max-width: 65%;
    height: auto;
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    #part-2 {
        display: none;
    }

    #part-1 {
        width: 100% !important;
    }
    #wrap {
        max-height: none;
    }
    
}
@media only screen and (max-width: 330px) {
    #header {
        margin-top: 100px;
    }
}
